<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Myanmar Medical Council - @ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/Content/styles.css" rel="stylesheet" />
    <link href="~/Content/sweetalert.css" rel="stylesheet" />
    @RenderSection("Head", false)
    @Styles.Render("~/Content/bootstrapcss")
    @Styles.Render("~/Content/themecss")
    @RenderSection("css", required: false)
</head>

<body style="height:100%;">
    @Html.Partial("_navbar")
    <div class="page-container" style="min-height:100%;">

        <!-- Page content -->
        <div class="page-content">
            @Html.Partial("_mainsidebar")
            @RenderBody()


            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @Scripts.Render("~/bundles/theme")
            @Scripts.Render("~/bundles/project")
            @RenderSection("scripts", required: false)
        </div>
    </div>

    <script src="~/Scripts/app.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var page = '@ViewBag.Title';
            activateSideNav(page);
        });
        function activateSideNav(page) {
            $('.sbar').removeClass('active');
            $('#' + page).addClass('active');
        }
    </script>

</body>
</html>
